{% extends 'myapp/base.html' %}
{% block content %}


<!-- Jumbotron -->
<div class="p-5 text-center bg-light">
  <h1 class="mb-3">Heading</h1>
  <h4 class="mb-3">Subheading</h4>
  <a class="btn btn-primary" href="" role="button">Call to action</a>
</div>
<!-- Jumbotron -->

{% for item in post_list %}
<!-- cards -->
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top"
        alt="Hollywood Sign on The Hill" />
      <div class="card-body">
        <h5 class="card-title">{{item.title}}</h5>
        <p class="card-text">
          テスト中でーす
        </p>
        <a href="{% url 'myapp:post_detail' item.id%}" type="submit" class="btn btn-success" >アクセス</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<!-- cards -->
{% endblock %}